body {
    position: absolute;
    display: flex;
    min-width: 850px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    width: 95%;
}

.content{
    width:100%;
}

#documents{
    position:absolute;
    background-color: rgba(200,200,200,0.2);
    border-radius: 8px;
    border: 1px grey solid;
    padding: 0px;
    width: 255px;
    height: 400px;
    top: 0px;
    right: 0px;
}

#scroller{
    position:absolute;
    height: 310px;
    width: 95%;
    overflow-y:auto;
}

#documents ul{
    list-style-type: none;
    font-size: larger;
    margin: 0px;
    padding: 5px;
}
#documents li{
    cursor: pointer;
}

#documents li.selected{
    cursor: pointer;
    background-color: rgba(71, 113, 255, 0.22);
}

#documents h4{
    padding: 5px;
}

.button{
    border: 1px rgba(200,200,200,0.4) solid;
    background-color: rgba(71, 113, 255, 0.22);
    cursor: pointer;
    margin: 4px;
}

.button a{
    text-decoration: none;
    color: black;
}
.button a:visited{
    text-decoration: none;
    color:black;
}
.button:hover{
    border: 1px rgba(200,200,200,0.4) solid;
    cursor: pointer;
    background-color: rgba(71, 113, 255, 0.44);
}

#diagram-container{
    width:60%;
    height:auto;
}